{% extends 'base.html' %}

{% block title %}
Продажа Авто
{% endblock %}

{% block body %}
<div class="container">
  <div class="container marketing">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Пример плохой продажи авто
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title mb-1">Продажа авто</h2>
        <p class="blog-post-meta">December 26, 2022 by <a href="/mypage">Michail</a></p>
        <hr>
        <br>

        <p><span style="font-weight: 400; font-size: 1.2rem;">Вот пример. Продается &laquo;черный красивый Гелик&raquo;
            2000 года выпуска. В
            карточке продавца указан автосалон. </span><span style="font-weight: 400; font-size: 1.2rem;">&laquo;Не
            гнилой, не ржавый, салон
            в
            хорошем состоянии, рама читается&raquo;, &ndash; пишет продавец в комментарии и отправляет мимо тех, кто
            готов
            взять
            машину за миллион рублей.</span></p>
        <p class="image_shadow"><img
            src="https://assets.avtocod.ru/storage/images/articles/bystro-i-bez-nervov-otdat-mashinu-v-trejd-in-ili-prodat-samomu-1.jpg"
            alt="отчет автокод" width="80%" caption="false" /></p>
        <br>
        <p><span style="font-weight: 400; font-size: 1.2rem;">Пробиваем госномер &laquo;Гелика&raquo; через сервис
            avtocod.ru и видим сразу
            несколько проблем.</span></p>
        <br>
        <p class="image_shadow"><span style="font-weight: 400;"><img
              src="https://assets.avtocod.ru/storage/images/articles/bystro-i-bez-nervov-otdat-mashinu-v-trejd-in-ili-prodat-samomu-2.jpg"
              alt="отчет автокод" width="80%" caption="false" /></span></p>
        <br>
        <p><span style="font-weight: 400; font-size: 1.2rem;">У машины трижды скручивали пробег.</span></p>
        <br>
        <p class="image_shadow"><img
            src="https://assets.avtocod.ru/storage/images/articles/bystro-i-bez-nervov-otdat-mashinu-v-trejd-in-ili-prodat-samomu-3.jpg"
            alt="отчет автокод" width="80%" caption="false" /></p>
        <br>
        <p><span style="font-weight: 400; font-size: 1.2rem;">Есть три ДТП.</span></p>
        <br>
        <p class="image_shadow"><img
            src="https://assets.avtocod.ru/storage/images/articles/bystro-i-bez-nervov-otdat-mashinu-v-trejd-in-ili-prodat-samomu-4.jpg"
            alt="отчет автокод" width="80%" caption="false" /></p>
        <br>
        <p><span style="font-weight: 400; font-size: 1.2rem;">По одной из аварий производился расчет ремонтных работ. На
            восстановление ушло
            более
            760 тыс. рублей.</span></p>
        <br>
        <p class="image_shadow"><img
            src="https://assets.avtocod.ru/storage/images/articles/bystro-i-bez-nervov-otdat-mashinu-v-trejd-in-ili-prodat-samomu-5.jpg"
            alt="отчет автокод" width="80%" caption="false" /></p>
        <br>
        <p><span style="font-weight: 400; font-size: 1.2rem;">&laquo;Висит&raquo; 12 неоплаченных штрафов почти на 5 400
            рублей.</span></p>
        <br>
        <p class="image_shadow"><img
            src="https://assets.avtocod.ru/storage/images/articles/bystro-i-bez-nervov-otdat-mashinu-v-trejd-in-ili-prodat-samomu-6.jpg"
            alt="отчет автокод" width="80%" caption="false" /></p>
        <br>
        <br>
        <p><span style="font-weight: 400; font-size: 1.2rem;">В отношении последнего владельца судебные приставы
            возбудили исполнительное
            производство. При оформлении авто инспектора могут наложить запреты на регистрацию. (В отчете неверно указан
            общий
            срок эксплуатации автомобиля, предоставленный источником. Скорее всего, при регистрации ТС в ГИБДД была
            допущена
            ошибка. &ndash; <em>прим. редактора</em>).</span></p>
        <br>
        <p><span style="font-weight: 400; font-size: 1.2rem;">От покупки &laquo;Гелика&raquo; лучше отказаться, чтобы не
            нажить себе
            проблем.</span></p>
        <hr>
      </article>
    </div>
  </div>
</div>
{% endblock %}
